<ion-view title="Hello Page" hide-nav-bar="true" id="page4" class=" ">
    <ion-content scroll="false">
        <ion-slides  options="options" slider="data.slider">
            <ion-slide-page>
                <div>
                    <div class="row">
                        <div class="col" align="center"> <div class="logo"></div> </div>
                    </div>

                    <div class="row">
                        <div class="col" style=" padding-top:35px;">
                            <h3 class="sliderText sliderTextSmall">
                            </h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col" align="center">
                            <a ui-sref="menu.home" id="helloPage-button1" class=" button button-block icon-right ion-log-in loginButton" style="border-color:white; background-color:transparent; color:white;">Login</a>
                        </div>
                    </div>

                </div>
            </ion-slide-page>

        </ion-slides>
    </ion-content>


</ion-view>