<ion-view id="page1" class="home">
  <ion-nav-title>
    <div>
      <div class="mist-page-title">
        <span>
          Home
        </span>
      </div>
    </div>
  </ion-nav-title>
  <style>
    ion-header-bar.bar-stable.bar.bar-header {
      opacity: 0.75;
    }

  </style>
  <div class="background-image"></div>
  <ion-content padding="true" class="no-header" style="z-index: 2">
    <div class="col-5-margin" style="margin-top:35px;">
      <div align="center" style="color:#656565; margin:10px 0 -7px 0;font-weight:bold;">Offline Map Module</div>
      <div class="row">
        <a ui-sref="menu.offlineMap" class="col button button-positive mci" style="margin: 5px; font-size: 15px; line-height: 1.3em;">OfflineMap</a>
      </div>
    </div>
  </ion-content>
</ion-view>
