<ion-view class="home-page">
    <ion-nav-title class="title-text">
        <div class="mist-page-title">
            Offline Map
        </div>

        <div class="buttons buttons-right header-item" style="width: auto;position: absolute;top: 5px;right: 0px;">
            <span><button class="button" ng-click="updateSources()">Update</button></span>
        </div>
    </ion-nav-title>

    <ion-content scroll="false">
        <offline-map class="offline-map-block"></offline-map>
    </ion-content>

</ion-view>
